@media all and (max-width: 768px){
	.middel-area{
		width: 100%;

	}
	.header-area .middel-area .logo-area img{
		padding: 0;
		margin: 0;
	}
	.login-submit{
		margin:0;
	}
	.signup-middel-area{
		width: 100%;
	}
	.login-submit{
	float: none;
	margin: 0;
	padding: 0;
     }
	 .login-first{
	float: none;
	}
	.login-second{
		float: none;
	}
	.login-submit{
		float: none;
	}

	.signup-left p{
	font-weight: 100%;
	}
	

	
	
	/* 2nd part */
	.signup-middel-area{
	width: 100%;
	}
	.signup-left p{
     text-align: center;
	margin: auto;
    }
	.signup-left{
	float: left;
	width: 100%;
	margin-left: 10px;
	text-align: center;
    }
	.signup-left img{
	margin-top: 10px;	
		
	}
	.signup-right{
	float: none;
	width: 100%;
	margin-left: 10px;
	text-align: center;
    }
	.b-option{
	float: none;
	}
	.b-link{
		float: none;
		margin: auto;
		
	}
	 .b-link a{
     margin: auto;
	 margin-top: 5px;
    }
	p{
		margin: auto;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	h5{
		padding-bottom: 20px;
	}
	
	
	
	
	
}


/* header-area */
@media all and (max-width: 1229px){
	.middel-area{
	width: 85%;
	margin: auto;
}
	
}@media all and (max-width: 1158px){
	.middel-area{
	width: 87%;
	margin: auto;
}
	
}

@media all and (max-width: 375px){

.login-area{
	float: none;
}

.signup-left{
	float: none;
	width: 20%;
	margin-left: 5px;
}

.signup-left .pic img{
	width: 100%;
}


.signup-left .pic{
	width: 400px;
	height: 180px;
	text-align: center;
}

.signup-left p{
	font-size: 20px;
	font-weight: 700;
	width: 350px;
	color: rgb(14, 56, 95);
	margin-top: 20px;
	line-height: 29px;
}

.signup-right{
	float: none;
	width: 100%;
	text-align: left;
}


.signup-middel-area{
	width: 100%;
	margin: 0;
}

.signup-right h1{
	margin-top: 0;
}

.info .inf{
	padding: 10px;
	font-size: 18px;
     line-height: 21px;
	width: 300px;
	border: 1px solid rgb(189, 199, 216);
	margin-top: 5px;
	border-radius: 5px;
}


.username input{
	padding: 10px;
     width: 300px;
	font-size: 18px;
     line-height: 21px;
	border: 1px solid rgb(189, 199, 216);
	border-radius: 5px;

}

.pad{
	margin-bottom: 5px;
}

 .b-link a{
	margin: 0;
	margin-top: 5px;
}

.gender{
	margin-top: 7px;
}

.gender input{
	margin-left: 3px;
}

p{
	margin: 10px 0;
}











}



